.TextField input{
  width:400px;
}
.queueDiagram {
  width:200px;
  height:30px;
  text-align:center;
  padding-top:10px;
}
.queueArrow {
  width:100px;
  height:30px;
  border-right:1px solid #666;
}
.masaakiDiagram,
.masaakiDiagram .diagram, 
.masaakiDiagram .colorLayers {
  width:981px;
  height:615px;
}
.masaakiDiagram .diagram {
  position:absolute;
  background-image:url(images/masaaki_diagram.png);
}
.masaakiDiagram .colorLayers {
  position:absolute;
}
.tcpInQueue,
.parsingQueue,
.aggQueue,
.typingQueue,
.indexQueue {
  color:#fff;
  font-weight:bold;
  position:absolute;
  text-align:center;
  padding-top:10px;
  width:133px;
  height:49px;
}
.tcpInQueue{
  left:20px;
  top:38px;
}
.parsingQueue {
  left:18px;
  top:198px;
}
.aggQueue {
  left:338px;
  top:37px;
}
.typingQueue {
  left:335px;
  top:306px;
}
.indexQueue {
  left:658px;
  top:50px;
}
.ResultsHeader {
    display:none;
}

.color1 {
    background-color:#569857;
}
.color2 {
    background-color:#559345;
}
.color3 {
    background-color:#659345;
}
.color4 {
    background-color:#759447;
}
.color5 {
    background-color:#849446;
}
.color6 {
    background-color:#949347;
}
.color7 {
    background-color:#947b46;
}
.color8 {
    background-color:#936945;
}
.color9 {
    background-color:#925846;
}
.color10 {
    background-color:#985150;
}