thead {
    background-color: #EDEDE7;
    padding: 4px 10px;
    text-align: left;
}
th {
    padding: 4px 10px;
    text-align: left;
}
td {
    padding: 4px 10px;
    text-align: left;
}

h2 {
    padding: 4px 10px;
    text-align: left;
}
h3 {
    padding: 4px 10px;
    text-align: left;
}
