#
#  SNAP_HOSTS
#    This configuration file is used to tell SNAP.PY from which filers to collect API data. 
#
#  HEADER:
#    filer (hostname or IP), NetApp user, password
#
#    See README for information on required permissions for API access to NetApp filers.
#
10.1.10.52, na_user, na_pass
