.sosNodesSizer {
    float: right;
    height: 40px;
    width: 100px;
    position: relative;
}
.SelectorContainer {
    height: 30px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
}

rect,
text {
    cursor: pointer;
}
