thead {
    background-color: #EDEDE7;
    padding: 4px 10px;
    text-align: left;
}
th {
    padding: 4px 10px;
    text-align: left;
}
td {
    padding: 4px 10px;
    text-align: left;
}

h2 {
    padding: 4px 10px;
    text-align: left;
}
h3 {
    padding: 4px 10px;
    text-align: left;
}

.providers {
    max-width:500px;
    max-height:60px;
    overflow:auto;
    top:10px;
    bottom:10px;
}
