/* basic help styling */
.help_style {
    width: 900px;
    padding:36px;
    margin-right:auto;
    background-color:#EFF6F6;
    font-family: Arial, Helvetica, sans-serif;
    font-size:  small;
}

.help_style h1 {
    padding-top: 6px;
    font-size: 22px;
    font-weight: 300;
    color: #111;
}

.help_style h2 {
    padding-top: 12px;
    font-weight: 300;
    font-size: 18px;
    color: #111;
}


.help_style td {
    font-size: small;
}

.splTemplate-dashboard div.help_style h1 {
    padding-top: 6px;
    font-weight: 300;
    font-size: 22px;
    color: #111;
}

.splTemplate-dashboard div.help_style h2 {
    padding-top: 12px;
    font-weight: 300;
    font-size: 18px;
    color: #111;
}

.splTemplate-dashboard div.help_style h3 {
    padding-top: 6px;
    font-weight: 300;
    font-size: 16px;
    color: #111;
}


.mainSearchControls .SearchSelectLister, 
.mainSearchControls .StaticSelect,
.mainSearchControls .TimeRangePicker,
.viewHeader .SearchSelectLister, 
.viewHeader .StaticSelect,
.viewHeader .TimeRangePicker {
    float:left;
}
.viewHeader .TimeRangePicker {
    padding-top:10px;
}

.dashboardContent .TimeRangePicker {
        float:left;
	margin-right:10px;
}

.viewHeader .SubmitButton {
    padding-top:0px;
}

/* if you let the HTML have top-padding, then jquery's animate() function 
animates the padding too which looks weird. We replace it with 10px or 
margin on the table element. */
.viewHeader .HTML,
.viewHeader .ServerSideInclude{
    clear:both;
    padding-top:0px;
}
.viewHeader .ServerSideInclude table,
.viewHeader .HTML table {
    margin-top:10px;
}

.FlashTimeline,
.dashboardContent,
.mainSearchControls .ButtonSwitcher {
    clear:both;
}
.FlashTimeline .splHeader-primary {
    background:#fff;
}
.FlashTimeline .FlashWrapperContainer {
    border-bottom:0px;
}
.mainSearchControlsTable {
    width:100%;
}

/* dashboard CSS and flashtimeline css fight a little.  */
.dashboardCell .FlashTimeline .splHeader {
    line-height:28px;
}

.dashboardCell .SimpleResultsTable .simpleResultsTableWrapper {
    padding-left:0px;
}

/* fixing LAF for homepage tabs */
/* basically throw away the image-implementation of rounded corners that micah
and bekes worked on and replace with css implementation (no IE) */
.dashboardCell .TabSwitcher {
    padding:0px 0px 0px 5px;
    background-color:transparent;
    border-bottom:10px solid #eee;
}
.dashboardCell .TabSwitcher ul li,
.dashboardCell .TabSwitcher ul li.selected {
    padding:0px;
    background:none;
    border-color:#fff;
    -moz-border-radius:8px 8px 0px 0px;
}
.dashboardCell .TabSwitcher ul li {
    background-color:#666;
}
.dashboardCell .TabSwitcher ul li.selected {
    background-color:#eee;
}
.dashboardCell .TabSwitcher ul li a,
.dashboardCell .TabSwitcher ul li.selected a {
    background:none;
}

/**
 * We set up the floating behavior for the breadcrumb and help button.
 */

.viewHeader .BreadCrumb {
    float:left;
}

.viewHeader .Button {
    float:right;
}

.viewHeader .ServerSideInclude,
.viewHeader .TimeRangePicker {
    clear:both;
}

/*  take away extra padding from the ServerSideInclude module */
.viewHeader .ServerSideInclude {
    padding:0px;
}

/* redeclare the background rules to make the help button blue instead of green */
.viewHeader .Button button {
    background: url("/static/img/skins/default/overlay_gloss_28.png") repeat-x scroll left -2px #5a9aae;
    text-align:left;
    width:100px;
}

/* make links in red error messages white (instead of blue) */
div.error a {
    color:#fff;
    text-decoration:underline;
}

/* RULES FOR SPECIFIC VIEWS */

/* Hide the time stamp of events for conf file stanzas in overview and comparator */
.splView-inputs .EventsViewer .default .time,
.splView-overview .EventsViewer .default .time,
.splView-comparator .EventsViewer .default .time {
    display:none;
}

.splView-overview .splButton-secondary, 
.splView-comparator .splButton-secondary {
    height: 23px;
    line-height: 23px;
    color: white;
}

.splView-overview .dashboardCell .Button button {
    background: url("/static/img/skins/default/overlay_gloss_28.png") repeat-x scroll left -2px #5a9aae;
    text-align:center;
    width:150px;
}

/* For the warnings view, we will use the neat traffic-light single-value renderer from the deployment monitor app */

.splView-warnings .SingleValue .SingleValueHolder { 
    background-color:transparent;
    width:auto;
    font-size:15px;
    font-weight:normal;
    text-align:left;
    color:#111;
    font-weight: 300;
    -moz-border-radius:0;
    -moz-box-shadow:none;
    -webkit-border-radius:0;
    -webkit-box-shadow:none;
}

.splView-warnings .SingleValue .singleResult {
    font-size:16px;
    font-weight:300;
    color:#111;
}

.splView-warnings .SingleValue {
    clear:left;
    float:left;
}

.splView-warnings .panel_row1_col .StaticContentSample {
    clear:both;
    padding:0px 21px 3px 21px;
    color:#666;
}

.splView-warnings .panel_row1_col .StaticContentSample div {
    border-top:1px solid #ccc;
    margin-top:5px;
    margin-bottom:15px;
}

.splView-warnings .EventsViewer {
    clear:left;
    float:left;
}


.splView-warnings input.searchButton:hover,
.splView-warnings input.searchButton:focus {
    background-color:transparent;
}


.splView-warnings input.searchButton {
    border: 0px;
}

.splView-warnings .dashboardCell .SingleValueHolder {
    padding:3px 5px 1px 20px;
    background-image:url(images/traffic_light_green.png);
    background-repeat:no-repeat;
    background-position:0px 6px;
}

.splView-warnings .dashboardCell .severe {
    background-image:url(images/traffic_light_red.png);
    background-repeat:no-repeat;
    background-position:0px 6px;
}
.splView-warnings .dashboardCell .elevated {
    background-image:url(images/traffic_light_yellow.png);
    background-repeat:no-repeat;
    background-position:0px 6px;
}
.splView-warnings .dashboardCell .high {
    background-image:url(images/traffic_light_yellow.png);
    background-repeat:no-repeat;
    background-position:0px 6px;
}

.splView-warnings .searchButton {
    background-color:transparent;
    background-image:url(images/icon_arrow.png);
    background-position:0px 5px;
    background-repeat:no-repeat;
    cursor:pointer;
    height:24px;
    padding-top:0px;
    padding-bottom:0px;
}

.splView-errors .mainSearchControls {
    background-color:#fff;
    padding: 5px 0px 0px 0px;
}
.splView-errors #FlashChart_0_8_0 {
    width:50%;
    float:left;
    padding:0px;
    clear:none;
}
.splView-errors #FlashChart_0_8_0 .chartTitle {
    margin-left:10px;
}

.splView-errors #FlashChart_1_8_0 {
    width:50%;
    float:right;
    padding:0px;
    clear:none;
}
.splView-errors .graphArea {
    clear:both;
    background-color:#eee;
}

/* Stack SingleValue modules vertically for the inputs tailing processor view */

.splView-inputs_tailing_processor .dashboardCell .SingleValue {
  clear: both;
}

/* Left-align SingleValues for the inputs tailing processor view */

.splView-inputs_tailing_processor .dashboardCell .SingleValue .SingleValueHolder {
  text-align: left;
}


/* Override font-size settings for help links in this module */

.ShowHideHeader div.secondary h2 {
    font-size: 12px;
    font-weight: normal;
}

/* Provide larger text size in HTML modules used in the overview and comparator views */

.HTMLmoduleText{
    font-size:14px;
}


.aboutBox {
   font-size:12px;
}

div.inlineHelpText {
    background-image:url(/static/img/skins/default/audit_cantvalidate.gif);
    background-position:0px 0px;
    background-repeat:no-repeat;
    padding:2px 0px 2px 20px;
    display:none;
}
body.showInlineHelpText div.inlineHelpText {
    display:block;
}

/* Custom CSS for the crashes view */

.splView-crashes .mainSearchControls {
    background-color:#fff;
}

.splView-crashes .dashboardCell .Count {
    float:right;
}

.splView-crashes .dashboardCell .SimpleResultsHeader {
    float:left;
}

/* 
 * Floating the modules to take up less vertical real-estate.
 */

.dashboardCell .ButtonSwitcher {
    float:right;
    margin-left:20px;
}

.dashboardCell .Count {
    float:right;
}

.dashboardCell .SimpleResultsHeader {
    float:left;
}
.dashboardCell .Paginator {
    clear:both;
}

/**
 * resolving vertical whitespace and alignment issues
 * in overview/comparator.
 */

.splView-overview .SearchBar .assistantAnchor,
.splView-comparator .SearchBar .assistantAnchor {
    display:none;
}
.splView-overview .dashboardCell .Pulldown,
.splView-comparator .dashboardCell .Pulldown {
    float:left;
}
.splView-overview .dashboardCell .SimpleResultsHeader,
.splView-comparator .dashboardCell .SimpleResultsHeader {
    clear:none;
}
.splView-overview .dashboardCell .Count,
.splView-comparator .dashboardCell .Count {
    padding-top:5px;
}

.splView-overview .dashboardCell .SearchBar,
.splView-comparator .dashboardCell .SearchBar {
    clear:left;
}

.home {
    font-size:12px;
}

.single_values_list {
    font-size:14px;
    padding-left: 15px;
}

/* for sos */

body,td {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.appLogoContainer h1 {
    display: none;
}
.appLogo {
    background:url(images/splunk_logo_sos.png) no-repeat scroll 0 0 transparent;
    _background:url(images/splunk_logo_sos.gif) no-repeat scroll 0 0 transparent;
    width: 250px;
}


.splTemplate-dashboard h1, 
.splTemplate-dashboard h2, 
.splTemplate-dashboard h3 {
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial;
    color: #111;
}

.splTemplate-dashboard h1 {
    font-size: 22px;
}
.splTemplate-dashboard h2 {
    font-size: 22px;
    clear:left;
}

.splTemplate-dashboard h3 {
    font-size: 14px;
}

body.splTemplate-dashboard {
    background: #FFF;
}

.appHeaderWrapper {
    background: #333 url(images/bg_header.png) repeat-x 0 0;
    color: #CCC;
}
.appHeaderWrapper h1 {
    color: #FFF;
    font-size: 18px;
}
.navigationHeader {
    border-bottom: 1px solid #CCC;
}
.navigationHeader a {
    color: #eee;
    font-weight: normal;
}
.splMenu-primary a {
    color:#333333;
}
ul.appBarNav li a {
    font-weight: normal;
}
ul.appBarNav li a:hover {
    background: none;
}
.TitleBar {
    line-height: 30px;
    border-bottom: 1px dotted #CCC;
}
.TitleBar h2 {
    font-size: 14px;
    font-weight: normal;
}
.navigationHeader .splIcon-triangle-2-s  {
    background-position:-27px -367px;
}
.splTemplate-dashboard .TitleBar .actionsMenu {
    line-height: 30px;
}
#.BreadCrumb {
#    border-bottom:1px dotted #CCCCCC;
#}
.viewHeader {
    border-bottom:1px dotted #CCCCCC;
}

.splTemplate-dashboard div.mainSearchControls {
    border-bottom:1px dotted #CCCCCC;
    padding: 5px 0px 0px 0px;
}

.splView-errors div.mainSearchControls #Pulldown_1_4_0 {
    border-top:1px dotted #CCCCCC;
    padding: 5px 0px 0px 10px;
}

.dashboardCell {
    padding: 15px;
}
.dashboardCell .splHeader-dashboard h2 {
    font-size:22px !important;
    margin-top:-3px;
    color:#111 !important;
    font-weight:300;
}

.layoutCellInner {
    margin-right: 10px;
}


.splView-home .ShowHideHeader {
    border:0px;    
}
.splTemplate-dashboard .TitleBar .splHeader,
.splTemplate-dashboard .viewHeader,
.splTemplate-dashboard .mainSearchControls,
.splTemplate-dashboard .splSearchControls-inline {
    background: #FFF none;
}

.splTemplate-search .TitleBar .splHeader,
.splTemplate-search .viewHeader,
.splTemplate-search .mainSearchControls,
.splTemplate-search .splSearchControls-inline {
    background: #FFF none;
}

/*
.PostProcessBar label {
    display:none;
}
.PostProcessBar input.searchButton {
    float:right;
    margin-top:5px;
    margin-left:10px;
}
*/
.dashboardContent .SimpleResultsHeader,
.dashboardContent .SimpleResultsHeader h3{
    /* DO NOT TURN OFF MARGIN BOTTOM AND PADDING BOTTOM. 
    Despite happy ponies this may summon wrt visual design, this has unwanted effects in reality */
    /*   
    margin-bottom:0px;  
    padding-bottom:0px;
    */
    font-size:16px;
    font-weight:bold;
}

.dashboardContent .SimpleResultsTable .simpleResultsTableWrapper {
    padding-left:0px;
}

.dashboardContent .GenericHeader h3 {
    color:#111;
    font-weight: 300;
    font-size: 14px;
}

/* VIEW-SPECIFIC OVERRIDES */

.splView-home .ServerSideInclude {
    clear:both;
    padding:0px 21px 3px 21px;
    color:#666;
}

.splView-home .splLastRefreshed {
    display: none;
}

tr.missing td {
    background-color: #eee;
    color:#fff;
}

tr.quiet td {
    background-color: #eee;
    color:#fff;
}

h3 {
  color: #111;
  font-weight: 300;
  font-size: 14px;
}

.Pager {
    float:right;
}


/* Table row traffic lights for performance_splunkd_http.xml */

.a_danger {
  background-image:url('images/err_ico.gif');
  background-repeat:no-repeat;
  /*background-color: #9d261d; */
  font-weight: bold;
  color: #fff;
}

.a_warning {
  background-image:url('images/warn_ico.gif');
  background-repeat:no-repeat;
  /*background-color: #f89406; */
  font-weight: bold;
  color: #fff;
}

.a_okay {
  background-image:url('images/ok_ico.gif');
  background-repeat:no-repeat;
  /* background-color: #46a546;*/
  font-weight: bold;
  color: #fff;
}


/**
 * customizing the JobStatus module in indexing_distributed 
 * to only show play/pause/finalize buttons.
 */

.splView-indexing_distributed .JobStatus {
    clear:both;
    background-color: transparent;
}

.splView-indexing_distributed .JobStatus ul li,
.splView-indexing_distributed .JobStatus .splPipe,
.splView-indexing_distributed .JobStatus em.results,
.splView-indexing_distributed .JobStatus h2.events,
.splView-indexing_distributed .JobStatus .print,
.splView-indexing_distributed .JobStatus .save,
.splView-indexing_distributed .JobStatus .create {
    display:none;
}

.splView-indexing_distributed .JobStatus em.scanned{
    background: url(/static/img/skins/default/loader.gif) left no-repeat;
    padding-left: 22px;
}

.splView-indexing_distributed .JobStatus ul div.jobActions li {
    display:list-item;
    height:20px;
}
.splView-indexing_distributed .JobStatus ul div.jobActions li.last {
    background:transparent;
}

.splView-indexing_distributed .dashboardContent .SplunkModule.Paginator {
    padding-top: 10px;
}
.splView-indexing_distributed .Button {
    float:left;
}
.splView-indexing_distributed .viewHeader .Button {
    float: right;
}
.splView-indexing_distributed .HTML {
    float:left;
}

.splView-index_disk_usage .LinkSwitcher {
    float:left;
    margin-right:20px;
}

/* Somehow, the title of the SVU install warning popup ended up with a black font on a black background. Let's fix that */

.splView-home .popupContainer .splHeader-popup h2 {
   color: white;
   background-color: black;
   margin-right: 0px;
}


/* Create a style for the empty panel placeholder text in inputs.xml */

.splView-inputs .EventsViewer p.init_results {
   background:#EDEDE7;
   font-style:italic;
   text-align:center;
   -webkit-margin-before:0px;
   -webkit-margin-after:0px;
   margin:0
}

.splView-inputs .EventsViewer ps.init_results {
   background:#EDEDE7;
   font-style:italic;
   text-align:center;
   -webkit-margin-before:0px;
   -webkit-margin-after:0px;
   margin:0

}

/* Create styles for peer bucket holders in the Cluster Master View */

.primary {
    color: green;
    font-weight:bold;
 }

.searchable {
    color: #1A7996;
    font-weight:bold;
}

.unsearchable {
    font-weight:bold;
}

/* END bucket holder styling */


.splView-inputs_tailing_processor .SearchBar {
    float:left;
    width: 400px;
}
.splView-inputs_tailing_processor .useOwnSubmitButton .searchFieldWrapper {
    margin-right: 2px;
}

.splView-inputs_tailing_processor .Paginator {
    float:right;
}

.splView-cluster_fixup_activity .EventsViewer {
    clear:both;
}

.splView-searchbuilder .SearchMode {
    float:left;
}

.splView-searchbuilder .JobStatus {
    float:right;
    background-color: transparent;
    border:none;
}

.splView-searchbuilder .JobStatus ul li,
.splView-searchbuilder .JobStatus .splPipe,
.splView-searchbuilder .JobStatus em.scanned,
.splView-searchbuilder .JobStatus h2.events,
.splView-searchbuilder .JobStatus .print,
.splView-searchbuilder .JobStatus .save,
.splView-searchbuilder .JobStatus .create {
    display:none ;
}

.splView-searchbuilder .SearchPerfTable {
   clear:both;
}

.splView-searchbuilder .SearchBar {
    float:left;
    width:75%;
}

.splView-searchbuilder .TimeRangePicker {
    float:right;
}

.splView-searchbuilder .searchbuilderAnalyzer {
    clear:both
}

.splunk-components .app-bar {
background-color:#d15c34;
}


.splView-splunk_topology .firstCell .dashboardCell  {
    max-height:470px;
    overflow:auto;
}

.splView-splunk_topology .dashboardCell .ServerSideInclude {
     clear:none;
}

.splView-splunk_topology .StaticContentSample {
    font-size: 16px;
}

.splView-splunk_topology .resultStatusMessage {
    display: none;
}

.splView-splunk_topology .sosNodesMetricsSelect {
    float:left;
    margin-right:100px;
}

.splView-splunk_topology div#memorylegend{
   float:left;
   clear:none;
}

.splView-splunk_topology .sosButton{
   float:left;
}

.splView-splunk_topology div#CPUlegend{
   float:left;
   clear:none;
}

.splView-license_usage_today div#ServerSideInclude_0_0_0{
   clear:none;
   float:left;
}

.splView-license_usage_30days  div#ServerSideInclude_0_0_0{
   clear:none;
   float:left;
}



/* Stoplight Stylesheets */
.stoplight {
    background-image: none;
    -moz-box-shadow: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: left; /* For IE7 */
    background-size: contain;
    color: #333333;
    padding-bottom: 55px;
    padding-top: 10px;
    margin-top: 0px;
    height: 0px;
    width: 5%;
    float: left;

}

html.lt-ie9 .stoplight.low {
    background-color: transparent;
    background-image: url('images/stoplight_low_small.png');
    color: #333333;
}

html.lt-ie9 .stoplight.elevated {
    background-color: transparent;
    background-image: url('images/stoplight_elevated_small.png');
    color: #333333;
}

html.lt-ie9 .stoplight.severe {
    background-color: transparent;
    background-image: url('images/stoplight_severe_small.png');
    color: #333333;
}

.stoplight.low {
    background-color: transparent;
    background-image: url('images/stoplight_low.png');
    color: #333333;
}

.stoplight.elevated {
    background-color: transparent;
    background-image: url('images/stoplight_elevated.png');
    color: #333333;
}

.stoplight.severe {
    background-color: transparent;
    background-image: url('images/stoplight_severe.png');
    color: #333333;
}

.inline_text {
    float: left;
    margin-left: 15px;
    width:65%;
}

.inline_hr {
    clear:left;
    width:87%;
}
