.NodesContainer {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    height: auto;
    min-height: 800px;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    width: 97%;
}
.NodesContainer h1 {
    color: #3F3F3F;
    font-size: 24px;
    font-weight: 200;
    line-height: 39px;
    font-family: "Helvetica neue", Helvetica, Arial, sans-serif;
    margin-left: 5px;
}
.NodesContainer h2 {
    float: left;
    margin: 25px 20px 10px;
}
.NodeDetail .NodeIndicator {
    display: none;
}
.NodeDetail .StaticContentSample {
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin-top: 13px;
    text-align: center;
    width: 90%;
}
.NodeDetail .sosnodesDynamicContentSample {
    float: left;
    margin-top: 10px;
    width: 140px;
}
.NodeDetail .sosnodesDynamicContentSample .dynamic_text {
    padding-left: 0px;
    font-size: 12px;
}
.NodeDetail .SimpleResultsTable .simpleResultsTableWrapper {
    padding: 0 5px;
}
.NodeDetail .SimpleResultsTable table tr td[field="name"] {
    width: 150px;
}
.NodeDetail .SimpleResultsTable p.resultStatusMessage.empty_results {
    background-color: transparent;
    margin-top: 0;
    padding-top: 5px;
}
.NodeDetail .SimpleResultsTable table.splTable {
    margin-bottom: 0;
}
.NodeDetail .SimpleResultsTable table.splTable th {
    display: none;
}
.NodeDetail .SimpleResultsTable table.splTable tr td {
    border: none;
}
.NodeLeft {
    float: left;
    height: 80%;
    margin-left: 1%;
    width: 98%;
}
.NodeLeft .NodeControl {
    background-color: #F9F9F9;
    background: -webkit-gradient(linear, 0% 0%, 50% 100%, from(#F9F9F9), to(#F9F9F9), color-stop(.5,#FFFFFF));
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #F9F9F9 0%, #FFFFFF 50%, #F9F9F9 100%);
    /* IE 10 */
    background: -ms-linear-gradient(top, #F9F9F9 0%, #FFFFFF 50%, #F9F9F9 100%);
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    display: none;
    height: 62px;
    float: left;
    margin-bottom: 20px;
    max-width: 40%;
    min-width: 39%;
    width: auto;
}
.NodeLeft .NodeMain {
    height: 100%;
    width: 73%;
}
.NodeDetail {
    background-color: #F9F9F9;
    background: -webkit-gradient(linear, 0% 0%, 50% 100%, from(#F9F9F9), to(#F9F9F9), color-stop(.5,#FFFFFF));
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #F9F9F9 0%, #FFFFFF 50%, #F9F9F9 100%);
    /* IE 10 */
    background: -ms-linear-gradient(top, #F9F9F9 0%, #FFFFFF 50%, #F9F9F9 100%);
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    float: right;
    display: none;
    top: 250px;
    height: auto;
    min-height: 600px;
    width: 380px;
}
.NodeDetail .NodeIndicator {
    margin-top: 10px;
}
.NodeLeft {
    margin-top: 17px;
}
.sosnodes {
    padding: 0;
}
.home {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    height: auto;
    min-height: 650px;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    width: 97%;
}

.homeviews {
    float:right;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    height: auto;
    min-height: 500px;
    margin-right: 15px;
    margin-top: 10px;
    padding: 5px;
    width: 30%;
}
.whatis {
    float:left;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    height: auto;
    min-height: 500px;
    margin-left: 15px;
    margin-top: 10px;
    padding: 5px;
    width: 30%;
}
.robot {
    float:left;
    background-color: #FFFFFF;
    height: auto;
    min-height: 500px;
    margin-left: 180px;
    margin-top: 20px;
    padding: 5px;
    width: 300px;
}
image,
text {
    cursor: pointer;
}
