<span id="viewItems">
	<span class="leftAlign">
		<span class="navItem" id="viewItem">
			view:
			<a id="viewName" class="disabled">untitled</a>
		</span>
		<a class="navItem cleanUp">clean up</a>
	</span>

	<span class="rightAlign">

		<a class="navItem" id="new">new</a>
		<a class="navItem" id="open">open</a>
		<a class="navItem disabled" id="save">save</a>
		<a class="navItem" id="saveAs">save as</a>
		<a class="navItem disabled" target="_blank" id="preview">preview</a>
	</span>
</span>
<span id="patternItems" style="display:none">
	<span class="leftAlign">	
		<span class="navItem">
			pattern:
			<span id="patternName"></span>
		</span>
		<a class="navItem cleanUp">clean up</a>
	</span>

	<span class="rightAlign">
		<a class="navItem" id="saveGroup">save</a>
		<a class="navItem" id="cancelGroup">cancel</a>
	</span>
</span>