<div class="modal-header">
	<strong class="moduleInfoName"><%- filePrefix %></strong>
    <button type="button" class="close cancelModuleEditor" aria-hidden="true">×</button>
</div>
<div class="modal-body">
    <div class="moduleInfo">
        <div class="desc">(extends <%- superClass %>) 
        <% if (description != "None") { %>
            <%- description %>
        <% } %> 
        </div>

        <%
        var required = [], 
            optional = [];
        $.each(params, function(k, v) {
            //if(k === 'resultsLink'){
            //    console.log(k,v);
            //}

            v.name = k;
            if (v.required == "True") {
                required.push(v);
            } else {
                optional.push(v);
            }
        });
        %>

        <strong>required params</strong>
            <% if (required.length == 0) { %>
                <div>(None)</div>
            <% } %>
            <ul>
            <% _.each(required, function(param) { %>
                <li><%- param.name %></li>
                <% if (param.label != "None") { %>
                    <ul>
                        <li><%- param.label %></li>
                    </ul>
                <% } %>
            <% });%>
            </ul>
            
        <strong>optional params</strong>
        <% if (optional.length == 0) { %>
            <div>(None)</div>
        <% } %>
        <ul>
        <% _.each(optional, function(param) { %>
            <li><%- param.name %></li>
            <ul>
                <% if (param.label != "None") { %>
                        <li><%- param.label %></li>
                <% } %>
                <% if (param.values != "None") { %>
                    <li>values: <% _.each(param.values, function(val) { %> 
                            <tt><%- val %></tt>, 
                        <% }); %></li>
                <% } %>
                <li>defaults to: <tt><%- param.default %></tt></li>
            </ul>
        <% });%>
        </ul>
    </div>

    <div class="moduleEditorInput">
        <%
            var required = [], 
                optional = []; 
            $.each(params, function(k, v) {
                v.name = k;
                if (v.required == "True") {
                    required.push(v);
                } else {
                    optional.push(v);
                }
            });
            %>
        
        <h4>Required parameters</h4>
        
        <% if (required.length == 0) { %>
            <p>(None)</p>
        <% } else { %>
            <form class="form-horizontal params">   
            <% _.each(required, function(param) { %>
                <div class="control-group" name="<%- param.name %>">
                    <label class="control-label" for="<%- param.name %>"><%- param.name %></label>
                    <% if (param.name.match(/\*$/)) { %>
                        <div class="controls">
                            <div class="input-append" name="<%- param.name %>">
                                <input class="param" type="text" name="<%- param.name %>" value="<%- param.name.substring(0,param.name.length-1) %>"></input><i class="icon-plus-sign addDynamicParam" name="<%- param.name.substring(0, param.name.length-1) %>-plus">
                                <button type="button" class="btn startDict triggerTooltip" val="dict" data-toggle="tooltip" title="add a dictionary">{ }</button>
                                <button type="button" class="btn startList triggerTooltip" data-toggle="tooltip" title="add an array" val="list">[ ]</button>
                            </div>
                            <div class="list-dict-container" data-key="<%- param.name %>"></div>
                        </div>
                    <% } else if (param.values == "None") { %>
                        <div class="controls">
                            <div class="input-append" name="<%- param.name %>">
                                <input class="param" id="appendedInputButtons" type="text" name="<%- param.name %>">
                                <button type="button" class="btn startDict triggerTooltip" val="dict" data-toggle="tooltip" title="add a dictionary">{ }</button>
                                <button type="button" class="btn startList triggerTooltip" data-toggle="tooltip" title="add an array" val="list">[ ]</button>
                            </div>
                            <div class="list-dict-container" data-key="<%- param.name %>"></div>
                        </div>
                    <% } else { %>
                        <div class="controls">
                            <select class="values" name="<%- param.name %>">
                                <% if (param["default"] == "None") { %>
                                    <option>--</option>
                                <% }%>

                                <% var deflt = param["default"];
                                    _.each(param.values, function(val) { %>
                                    <option value="<%- val %>" 
                                    <% if (val == deflt) { %>
                                            selected
                                    <% }%>
                                    ><%- val %></option>
                                <% }); %>
                            </select>
                        </div>
                    <% } %>
                </div>
            <% }); %>
            </form>     
        <% } %>
            
        <h4>Optional parameters</h4>    
        <% if (optional.length == 0) { %>
            <p>(None)</p>
        <% } else { %>
            <form class="form-horizontal">  
            
            <% _.each(optional, function(param) { %>
                <div class="control-group" name="<%- param.name %>">
                    <label class="control-label" for="<%- param.name %>"><%- param.name %></label>
                    <% if (param.name.match(/\*$/)) {%>
                        <div class="controls">
                        <div name="<%- param.name %>-container"></div>
                        <input class="param" type="text" name="<%- param.name %>" value="<%- param.name.substring(0,param.name.length-1) %>"></input><i class="icon-plus-sign addDynamicParam" name="<%- param.name.substring(0,param.name.length-1) %>-plus">

                    <% } else if (param.values == "None") { %>
                            <div class="controls">
                                <div class="input-append" name="<%- param.name %>">
                                    <input class="param" id="appendedInputButtons" type="text" name="<%- param.name %>">
                                    <button type="button" class="btn startDict triggerTooltip" data-toggle="tooltip" title="add a dictionary" val="dict">{ }</button>
                                    <button type="button" class="btn startList triggerTooltip" data-toggle="tooltip" title="add an array" val="list">[ ]</button>
                                </div>
                                <div class="list-dict-container" data-key="<%- param.name %>"></div>
                            </div>
                    <% } else { %>
                            <div class="controls">
                                <select class="values" name="<%- param.name %>">
                                    <% if (param["default"] == "None") { %>
                                        <option>--</option>
                                    <% }%>
                                    
                                    <% var deflt = param["default"];
                                        _.each(param.values, function(val) { %>
                                        <option value="<%- val %>"
                                            <% if (val == deflt) { %>
                                                    selected
                                            <% }%>
                                            ><%- val %></option>
                                    <% }); %>
                                </select>
                            </div>
                    <% }%>
                </div>
            <% }); %>
        
            </form>     
        <% } %>
            
        <h4>Attributes</h4>
        <form class="form-horizontal attrs">
            <div class="control-group" name="_layoutPanel">
            <label class="control-label" for="_layoutPanel">_layoutPanel</label>
            <div class="controls">
              <input class="attribute" type="text" name="_layoutPanel" placeholder="panel_row1_col1">
            </div>
          </div>
        </form>
        <form class="form-horizontal addAttrContainer">
        </form>
    </div>
</div>
<div class="modal-footer">
	<div class="btn saveModuleEditor btn-primary">save</div>
</div>
