<div class="modal-header">
	<button type="button" class="close moduleInfoName" data-dismiss="modal" aria-hidden="true">×</button>
	<strong class="moduleInfoName"><%- filePrefix %></strong>
</div>
<div class="modal-body">
	<div class="desc">(extends <%- superClass %>) 
	<% if (description != "None") { %>
		<%- description %>
	<% } %> 
	</div>

	<%
	var required = [], 
		optional = []; 
	$.each(params, function(k, v) {
		v.name = k;
		if (v.required == "True") {
			required.push(v);
		} else {
			optional.push(v);
		}
	});
	%>

	<strong>required params</strong>
		<% if (required.length == 0) { %>
			<div>(None)</div>
		<% } %>
		<ul>
		<% _.each(required, function(param) { %>
			<li><%- param.name %></li>
			<% if (param.label != "None") { %>
				<ul>
					<li><%- param.label %></li>
				</ul>
			<% } %>
		<% });%>
		</ul>
		
	<strong>optional params</strong>
	<% if (optional.length == 0) { %>
		<div>(None)</div>
	<% } %>
	<ul>
	<% _.each(optional, function(param) { %>
		<li><%- param.name %></li>
		<ul>
			<% if (param.label != "None") { %>
					<li><%- param.label %></li>
			<% } %>
			<% if (param.values != "None") { %>
				<li>values: <% _.each(param.values, function(val) { %> 
						<tt><%- val %></tt>, 
					<% }); %></li>
			<% } %>
			<li>defaults to: <tt><%- param.default %></tt></li>
		</ul>
	<% });%>
	</ul>
</div>
