<div class="modal hide fade view" id="viewModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>view: <%= view_name %></h3>
  </div>
  <div class="modal-body">
		<form class="form-horizontal attrs">
		  <div class="control-group">
		    <label class="control-label">app</label>
		    <div class="controls">
		    	<label><%= targetApp %></label>
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="label">label</label>
		    <div class="controls">
		      <input class="attribute" type="text" name="label" value="<%= label %>">
		    </div>
		  </div>
		  
			<% _.each(attrs, function(val, key) { %>
				<div class="control-group">
			    <label class="control-label" for="<%= val %>"><%= key %></label>
			    <div class="controls">
			      <input class="attribute" type="text" name="<%= key %>" value="<%= val %>">
			    </div>
			  </div>
			<% }) %>
		</form>

		<form class="form-horizontal addAttrContainer">
		</form>
  </div>
</div>