<%inherit file="//layout/view.html" />
<%namespace file="//view/_helpers.html" import="*"/>
<%namespace name="lib" file="//lib.html" import="*"/>

<%!
headerPanels = ["appHeader", "navigationHeader"]
upperPanels = ["viewHeader", "splSearchControls-inline", "mainSearchControls"]
%>

<%def name="css()">
    <% parent.css() %>
    <%lib:stylesheet_tags files="${['/static/css/dashboard.css']}" />
</%def>

<%def name="js()">
    <% parent.js() %>
    <%lib:script_tags files="${['/static/app/sos/module_loader.43compat.js',
                                '/static/app/sos/d3.v2.min.js']}" />
</%def>

<%def name="custom_css()">
    <%lib:stylesheet_tags files="${['/static/app/sos/nodes.css',
                                    '/static/app/sos/application.css']}" />
</%def>

% if "messaging" in modules :
    <%call expr="parent.buildSimplePanelContainer(modules, 'messaging')"></%call>
% endif

<div class="appHeaderWrapper">
    % for panelName in headerPanels : 
        <%call expr="parent.buildSimplePanelContainer(modules, panelName)"></%call>
    % endfor    
</div>

% for panelName in upperPanels : 
    <%call expr="parent.buildSimplePanelContainer(modules, panelName)"></%call>
% endfor




<div class="NodesContainer">
<div class="NodeLeft splClearfix">
    <div class="NodeControl">
      <%call expr="parent.buildPanelContents(modules, 'NodeControl')"></%call>
    <h1>Splunk Topology by Server Role</h1>
    </div>

    <div class="NodeDetail">
      <div class="NodeIndicator">
        <svg width="400" height="60">
          <g>
            <rect x="10" y="10" width="40" height="40" stroke="#598ECB" stroke-width="4" fill="transparent">
            </rect>
            <text x="60" y="35" class="drilldown_text" style="font-size: 14px;">---</text>
          </g>
        </svg>
      </div>
      <%call expr="parent.buildPanelContents(modules, 'NodeDetail')"></%call>
    </div>

    <div class="NodeMain">
      <%call expr="parent.buildPanelContents(modules, 'NodeMain')"></%call>
    </div>

  </div>

</div>

</div>
