.report {
    color: darkgreen;
    cursor: pointer;
}
.report:hover {
     color:red;
}
.report:active {
     color:yellow;
     background:yellow;
}

.streaming {
    color: darkblue;
    cursor: pointer;

}

.streaming:hover {
     color:red;
}
.streaming:active {
     color:yellow;
     background:yellow;
}

.stateful {
    color: darkred;
    cursor: pointer;

}
.stateful:hover {
    color: red;
}
.stateful:active {
     color:yellow;
     background:yellow;
}

.events {
    color: darkorange;
    cursor: pointer;


}
.events:hover {
    color: red;
}
.events:active {
     color:yellow;
     background:yellow;
}

.searchbuilderAnalyzer td {
    border: 1px solid black;
    padding: 10px;
}
.legend {
margin-top:30px;
margin-bottom:20px;
}
.hider {
margin-left:10px;
font-weight:600;
cursor: pointer;

}
.hider:hover {
    color: red;
}
.hider:active {
     color:yellow;
     background:yellow;
}
.searcher {
   word-wrap:break-word;

}


