<div class="btn-group typeSelection">
    <button type="button" class="default btn btn insertString triggerTooltip" data-toggle="tooltip" title="add a string" val='string'>" "</button>
    <button type="button" class="btn btn insertDict triggerTooltip" data-toggle="tooltip" title="add a dictionary" val='dict'>{ }</button>
    <button type="button" class="btn btn insertList triggerTooltip" data-toggle="tooltip" title="add an array" val='list'>[ ]</button>
    <span class="icon-x removeDictList" />
</div>