<div id="saveAsModal" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3>Enter new view name</h3>
      </div>
      <div class="modal-body">
        <form class="form-horizontal attrs">
          <div class="control-group">
            <label class="control-label" for="view_name">View Name</label>
            <div class="controls">
              <input class="attribute view_name" type="text" value="">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="permission">Permission</label>
            <div class="controls">
              <table>
                <thead>
                  <tr>
                    <td class="col1">Roles</td>                
                    <td class="col2">Read</td>
                    <td class="col3">Write</td>
                  </tr>
                </thead>
                
                <tbody>
                  <tr class="world" title="CAUTION! This will give everyone permissions!">
                      <td class="col1"><span class="orphanLabel" for="">Everyone</span><label for="world_read" class="hiddenLabel">Global Read</label><label for="world_write" class="hiddenLabel">Global Write</label></td>
                      <td class="col2"><input type="checkbox" class="readCheckbox checkbox" name="perms_read" value="*" id="world_read" checked="checked"></td>
                      <td class="col3"><input type="checkbox" class="checkbox" name="perms_write" value="*" id="world_write"></td>
                  </tr>
                  <tr class="roles">
                      <td class="col1"><span class="orphanLabel">admin</span><label for="admin_read" class="hiddenLabel">admin Read</label><label for="admin_write" class="hiddenLabel">admin Write</label></td>
                      <td class="col2"><input type="checkbox" class="readCheckbox checkbox" name="perms_read" value="admin" id="admin_read"></td>
                      <td class="col3"><input type="checkbox" class="checkbox" name="perms_write" value="admin" id="admin_write" checked="checked"></td>
                  </tr>
                </tbody>
            </table>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="target_app1">Target App</label>
            <div class="controls">
              <select id="target_app1"></select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <span class="btn btn-primary saveAsView">Save</span>
      </div>
    </div>